DISCORD_BOT_TOKEN={{ hermes_env.DISCORD_BOT_TOKEN | default('') }}
DISCORD_ALLOWED_USERS={{ hermes_env.DISCORD_ALLOWED_USERS | default('') }}
MATRIX_HOMESERVER={{ hermes_env.MATRIX_HOMESERVER | default('') }}
DISCORD_REACTIONS=false
API_SERVER_ENABLED=true
API_SERVER_KEY={{ hermes_env.API_SERVER_KEY | default('') }}
GOOGLE_API_KEY={{ hermes_env.GOOGLE_API_KEY | default('') }}
GITHUB_TOKEN={{ hermes_env.GITHUB_TOKEN | default('') }}
DISCORD_HOME_CHANNEL={{ hermes_env.DISCORD_HOME_CHANNEL | default('') }}
DISCORD_HOME_CHANNEL_THREAD_ID=
OPENROUTER_API_KEY={{ hermes_env.OPENROUTER_API_KEY | default('') }}
SKS_API_KEY={{ hermes_env.SKS_API_KEY | default('') }}
{% if ansible_facts.os_family == 'Darwin' -%}
# Hermes Agent browser tools — use the system Chrome/Chromium binary.
AGENT_BROWSER_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
{%- endif %}
